.bg-light2{
    background-color:white;
}
.Nike-style h1{
    font-size:50px;
    color: salmon;
    }
    .Nike-style .Nike1{
        color:lightseagreen;
    }
    .style-card{
        border: 0;
        border-radius: 20px;
    }
    .card-title1{
        color:indianred;
    }
    .style-card-footer{
        background-color: white;
        border: 0;
    }
    .style-body5{
        border: 0;
    }
    .card-title2{
        color: goldenrod;
    }
   